<p>table3 works!</p>

<table style="width:100%" border="1" [(ngModel)]="tblModel">
  <tr>
    <td>ลำดับ</td>
    <td>ชื่อสินค้า</td>
    <td>รายละเอียด</td>
    <td>ราคา</td>
    <td>จำนวน</td>
    <td>เป็นเงิน</td>
  </tr>
  <tr *ngFor="let hero of tblModel; let i = index">
    <td>-</td>
    <td>{{ hero.ItemName }}</td>
    <td>{{ hero.Description }}</td>
    <td>{{ hero.SellPrice }}</td>
    <td style="padding:5px">
      <input
        type="number"
        (input)="CalMoney(i)"
        [(ngModel)]="hero.NumOrder"
        style="width:95% ;max-width:95%;height:35px;padding:5px"
      />
    </td>
    <td>{{ hero.ThisMoney }}</td>
  </tr>

  <tr>
    <td style="text-align:center">
      <img
        src="https://cdn-icons-png.flaticon.com/512/189/189689.png"
        width="30"
        height="30"
      />
    </td>
    <td>
      <app-txtsearch (myListChange)="AcceptTableData($event)"></app-txtsearch>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<!-- <table style="width:100%;margin-top:50px" border="1" [(ngModel)]="tblModel">
  <tr>
    <td>ลำดับ</td>
    <td>ชื่อสินค้า</td>
    <td>รายละเอียด</td>
    <td>ราคา</td>
  </tr>
  <tr>
    <td>1</td>
    <td style="width:300px;"></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table> -->
<!-- <app-txtsearch (myListChange)="AcceptTableData($event)"></app-txtsearch> -->
<!-- <app-txtsearch></app-txtsearch> -->
