<p>Start editing to see some magic happen :)</p>
<table style="width:100%" border="1" [(ngModel)]="ItemDatas">
  <tr>
    <td>ลำดับ</td>
    <td>ชื่อสินค้า</td>
    <td>รายละเอียด</td>
    <td>ราคา</td>
    <td>จำนวน</td>
    <td>เป็นเงิน</td>
  </tr>
  <!-- <tr ng-repeat="x99 in ItemDatas"> -->
  <tr *ngFor="let hero of ItemDatas; let i = index">
    <td>-</td>
    <td>{{ hero.ItemName }}</td>
    <td>{{ hero.Description }}</td>
    <td>{{ hero.SellPrice }}</td>
    <td>
      <input type="text" [(ngModel)]="hero.NumOrder" (input)="CalMoney(i)" />
    </td>
    <td>{{ hero.ThisMoney }}</td>
  </tr>
</table>
<div>
  <!-- <input type="text" style="padding:10px" /> -->
  <div style="width:300px;background:red;padding:10px" *ngIf ="showListText">
    <form style="width:100%;">
      <label for="searchText99">
        <input
          #input
          (input)="searchPokemons(input.value)"
          type="text"
          id="searchText99"
          style="padding:10px;width:100%"
          placeholder="ชื่อสินค้า"
        />
        <span>ชื่อสินค้า</span>
      </label>
    </form>
    <div
      style="margin-top:0px;height:300px;border:1px solid gray;overflow-y:scroll"
    >
      <div>พบจำนวน :: {{ pokemons.length }}</div>
      <ul>
        <li
          *ngFor="let hero of pokemons; let i = index"
          style="padding:10px;cursor:pointer"
          (click)="AddItem(i)"
        >
          {{ hero[1].trim() }}
        </li>
      </ul>
    </div>
  </div>
  <div>
    <!-- {{ ItemDatas | json }} -->

    <h3>Table3 demo</h3>
    <app-table3></app-table3>
  </div>
</div>
