<p>Start editing to see some magic happen :)</p>
<app-test1></app-test1>

<div class="row">
  <div class="col-sm-4">
    <h3>Column 1</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
  </div>
  <div class="col-sm-4">
    <h3>Column 2</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
  </div>
  <div class="col-sm-4">
    <h3>Column 3</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
  </div>
</div>

<!-- Modal -->
<button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">
  Open My Modal
</button>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">This is example from ItSolutionStuff.com</div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Ok
    </button>
  </div>
</ng-template>

<div class="tabinator">
  <h2>CSS tabs with shadow</h2>
  <input type="radio" id="tab1" name="tabs" checked />
  <label for="tab1">รายการสั่งซื้อ</label>
  <input type="radio" id="tab2" name="tabs" />
  <label for="tab2">Tab2</label>
  <input type="radio" id="tab3" name="tabs" />
  <label for="tab3">Tab3</label>
  <input type="radio" id="tab4" name="tabs" />
  <label for="tab4">Tab4</label>
  <div id="content1">
    <p><app-table3></app-table3></p>
  </div>
  <div id="content2">
    <p>
      Donec mattis laoreet suscipit. Donec blandit quam sed justo mattis, et
      hendrerit leo sodales. Donec elit leo, sollicitudin sed purus vitae,
      iaculis iaculis lacus. Proin quis leo a purus gravida ultricies. Nam
      molestie a nisi sed scelerisque. Proin in suscipit sem, in viverra libero.
      Proin quam diam, consequat vitae arcu eget, egestas ultrices eros. Donec
      sed fermentum lorem. Nam dolor sem, aliquam dapibus rutrum id, tempor ac
      leo. Vestibulum in neque id eros tristique lacinia. Duis a bibendum dolor,
      nec cursus eros. Morbi quis enim eu quam gravida lacinia. Etiam tincidunt
      venenatis felis quis pellentesque. Sed sagittis elit vitae arcu malesuada,
      quis dapibus libero porttitor.
    </p>
  </div>
  <div id="content3">
    <p>
      Integer consequat iaculis porta. Integer semper maximus erat, vel posuere
      libero fermentum ut. Quisque convallis imperdiet diam, eget mollis risus
      semper non. Quisque dictum feugiat finibus. Nulla quis lectus augue. Fusce
      id nulla quis ipsum consequat consectetur in sed felis. Nullam eu urna
      sollicitudin, sodales risus sit amet, lacinia magna. Mauris placerat metus
      vitae urna efficitur rutrum. Mauris lobortis ut ex vitae condimentum.
      Integer venenatis urna ut lectus efficitur pretium. Donec ut ullamcorper
      urna, nec commodo est. Fusce in nibh sed lectus laoreet fermentum
      vestibulum a dolor. Donec pulvinar urna sed leo consequat, et vulputate
      nunc pellentesque. Maecenas ex nisl, pretium sed efficitur vitae,
      ultricies ut risus.
    </p>
  </div>
  <div id="content4">
    <p>
      Duis tempor sapien ac enim laoreet, volutpat tincidunt mi cursus. Integer
      bibendum pharetra nisl, non mollis dui ullamcorper vel. Curabitur lacinia
      consectetur velit. In finibus metus velit, quis mollis libero feugiat non.
      Maecenas est nunc, dapibus non sem eu, ornare consectetur ipsum. Phasellus
      elit metus, iaculis vitae est et, pharetra ornare lacus. Cras id tristique
      lorem, posuere molestie leo. Maecenas varius nisi non maximus
      sollicitudin. Phasellus et tellus tincidunt, porta mauris ut, faucibus
      augue. Mauris vehicula erat sed magna iaculis, vel fringilla velit
      sagittis.
    </p>
  </div>
</div>
<!-- <table style="width:100%" border="1" [(ngModel)]="ItemDatas">
  <tr>
    <td>ลำดับ</td>
    <td>ชื่อสินค้า</td>
    <td>รายละเอียด</td>
    <td>ราคา</td>
    <td>จำนวน</td>
    <td>เป็นเงิน</td>
  </tr>
  
  <tr *ngFor="let hero of ItemDatas; let i = index">
    <td>-</td>
    <td>{{ hero.ItemName }}</td>
    <td>{{ hero.Description }}</td>
    <td>{{ hero.SellPrice }}</td>
    <td>
      <input type="text" [(ngModel)]="hero.NumOrder" (input)="CalMoney(i)" />
    </td>
    <td>{{ hero.ThisMoney }}</td>
  </tr>
</table> -->
<div>
  <!-- <input type="text" style="padding:10px" /> -->
  <div style="width:300px;background:red;padding:10px" *ngIf="showListText">
    <form style="width:100%;">
      <label for="searchText99">
        <input
          #input
          (input)="searchPokemons(input.value)"
          type="text"
          id="searchText99"
          style="padding:10px;width:100%"
          placeholder="ชื่อสินค้า"
        />
        <span>ชื่อสินค้า</span>
      </label>
    </form>
    <div
      style="margin-top:0px;height:300px;border:1px solid gray;overflow-y:scroll"
    >
      <div>พบจำนวน :: {{ pokemons.length }}</div>
      <ul>
        <li
          *ngFor="let hero of pokemons; let i = index"
          style="padding:10px;cursor:pointer"
          (click)="AddItem(i)"
        >
          {{ hero[1].trim() }}
        </li>
      </ul>
    </div>
  </div>
  <div>
    <!-- {{ ItemDatas | json }} -->

    <!-- <h3>Table3 demo</h3>
    <app-table3></app-table3> -->
  </div>
</div>
