<!-- <input type="text" style="padding:10px" /> -->
<div style="width:275px;" *ngIf="showListText">
  <form style="width:100%;">
    <input
      #input
      (input)="searchPokemons(input.value)"
      type="text"
      id="searchText99"
      style="padding:10px;width:100%;border:none"
      placeholder="ค้นชื่อสินค้า"
    />
  </form>
  <div
    *ngIf="showListText2"
    style="position:absolute;width:100%;margin-top:0px;height:300px;border:1px solid gray;overflow-y:scroll;background:white;z-index:1000000"
  >
    <div class="captionTableSearch">
      พบจำนวน :: {{ pokemons.length }} รายการ
    </div>
    <table class="mTable">
      <tr
        *ngFor="let hero of pokemons; let i = index"
        style="padding:10px;cursor:pointer"
        (click)="AddItem(i)"
      >
        <td style="text-align:center;width:60px">{{ i + 1 }}</td>
        <td>{{ hero[1].trim() }}</td>
      </tr>
    </table>
  </div>
</div>
<div></div>
